# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
tsconfig.dev.json
firebase-debug.log

src/wasted-on-movies-firebase-adminsdk-ffli0-cd2bccd7be.json