*{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin:0;
  padding: 0;
}
html,body{
  min-height: fit-content;
  &::-webkit-scrollbar {
    width: 6px;
    background: #121212;

  }
  &::-webkit-scrollbar-thumb {
    background-color: #E50914;
    border-radius: 3px;
  }
}

#root,#app-container{
  position: relative;
  background: #121212;
}

html, body, #root, #root>div {
  height: 100%
}