*{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin:0;
  padding: 0;
}
html{
  min-height: 100%;
}
body{
  height: 100%;
}
html,body{

  &::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    background: #121212;

  }
  &::-webkit-scrollbar-thumb {
    background-color: #E50914;
    border-radius: 3px;
  }
}


*{
  &::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    background: #121212;

  }
  &::-webkit-scrollbar-thumb {
    background-color: #E50914;
    border-radius: 3px;
  }
}

#root,#app-container{
  min-height: 100vh;
  position: relative;
  background: #121212;
}

/* MODAL STYLE */

.wom-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 20px 0 #000000;
  width: 60%;
  height: 700px;
  background: #121212;
  border-radius: 5px;
  box-sizing: border-box;
  .modal-content{
    position: relative;
    height: 630px;
    padding: 0 40px 40px 40px;
      box-sizing: border-box;
  }
  .modal-upper{
    height: 70px;
  }
  .close-icon-holder{
    position: absolute;
    top:20px;
    right: 20px;
    svg{
      &:hover{
        cursor: pointer;
      }
      width: 30px;
      height: 30px;
      color:#FEFEFE;
    }
  }
}

.wom-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.75)
}